<%= form_with(model: prova, local: true) do |form| %>
  <% if prova.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prova.errors.count, "error") %> prohibited this prova from being saved:</h2>

      <ul>
      <% prova.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :aluno_id %>
    <%= form.select :aluno_id,
    Aluno.all.collect {|c| [c.pessoa.nome , c.id]} %>
  </div>

  <div class="field">
    <%= form.label :disciplina_id %>
    <%= form.select :disciplina_id,
    Disciplina.all.collect {|c| [c.nome , c.id]} %>
  </div>

  <div class="field">
    <%= form.label :notag1 %>
    <%= form.text_field :notag1 %>
  </div>

  <div class="field">
    <%= form.label :notag2 %>
    <%= form.text_field :notag2 %>
  </div>

  <div class="field">
    <%= form.label :subg1 %>
    <%= form.text_field :subg1 %>
  </div>

  <div class="field">
    <%= form.label :subg2 %>
    <%= form.text_field :subg2 %>
  </div>
  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
