<p id="notice"><%= notice %></p>

<p>
  <strong>Aluno:</strong>
  <%= @nota_trabalho.aluno %>
</p>

<p>
  <strong>Trabalho:</strong>
  <%= @nota_trabalho.trabalho %>
</p>

<p>
  <strong>Nota:</strong>
  <%= @nota_trabalho.nota %>
</p>

<%= link_to 'Edit', edit_nota_trabalho_path(@nota_trabalho) %> |
<%= link_to 'Back', nota_trabalhos_path %>
