<%= form_with(model: aluno, local: true) do |form| %>
  <% if aluno.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(aluno.errors.count, "error") %> prohibited this aluno from being saved:</h2>

      <ul>
      <% aluno.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :pessoa_id %>
    <%= form.select :pessoa_id,
    Pessoa.all.collect {|c| [c.nome , c.id]} %>
  </div>

  <div class="field">
    <%= form.label :matricula_id %>
    <%= form.select :matricula_id,
    Matricula.all.collect {|c| [c.ra + " - " + c.curso.nome, c.id]} %>
  </div>

  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
