<p id="notice"><%= notice %></p>

<p>
  <strong>Pessoa:</strong>
  <%= @aluno.pessoa.nome %>
</p>

<p>
  <strong>Matricula:</strong>
  <%= @aluno.matricula.ra %>
</p>

<%= link_to 'Edit', edit_aluno_path(@aluno) %> |
<%= link_to 'Back', alunos_path %>
