<p id="notice"><%= notice %></p>

<h1>Aluno Livros</h1>

<table>
  <thead>
    <tr>
      <th>Aluno</th>
      <th>Livro</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aluno_livros.each do |aluno_livro| %>
      <tr>
        <td><%= aluno_livro.aluno.pessoa.nome %></td>
        <td><%= aluno_livro.livro.nome %></td>
        <td><%= link_to 'Show', aluno_livro %></td>
        <td><%= link_to 'Edit', edit_aluno_livro_path(aluno_livro) %></td>
        <td><%= link_to 'Destroy', aluno_livro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Aluno Livro', new_aluno_livro_path %>
