<p id="notice"><%= notice %></p>

<p>
  <strong>Pessoa:</strong>
  <%= @professor.pessoa.nome %>
</p>

<p>
  <strong>Disciplina:</strong>
  <%= @professor.disciplina.nome %>
</p>

<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professores_path %>
