<p id="notice"><%= notice %></p>

<p>
  <strong>Disciplina:</strong>
  <%= @trabalho.disciplina %>
</p>

<p>
  <strong>Dt entrega:</strong>
  <%= @trabalho.dt_entrega %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @trabalho.descricao %>
</p>

<%= link_to 'Edit', edit_trabalho_path(@trabalho) %> |
<%= link_to 'Back', trabalhos_path %>
