<%= form_with(model: presenca_aula, local: true) do |form| %>
  <% if presenca_aula.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(presenca_aula.errors.count, "error") %> prohibited this presenca_aula from being saved:</h2>

      <ul>
      <% presenca_aula.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :aula_id %>
    <%= form.select :aula_id,
    Aula.all.collect {|c| [c.disciplina.nome, c.id]} %>
  </div>

  <div class="field">
    <%= form.label :aluno_id %>
    <%= form.select :aluno_id,
    Aluno.all.collect {|c| [c.pessoa.nome , c.id]} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
